body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  border: 1px solid black;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  background-color: rgb(190, 190, 190);
  border-radius: 7px;
}

.screen {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background: #77867f;
  font-family: "Cairo", sans-serif;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: auto;
}

.result {
  font-size: 3rem;
  margin-right: 20px;
}

.operations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  font-family: "Cairo", sans-serif;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(229, 226, 226);
  margin: 2px;
  width: 100%;
  height: 80px;
  border-radius: 3px;
  font-size: 1.7rem;
  cursor: pointer;
}

.numeric {
  transition: 0.2s ease-out;
}

.numeric:hover {
  background-color: rgb(158, 152, 152);
}

.clear-Btn {
  background-color: #4b296b;
  color: white;
}

.clear-Btn:hover {
  background-color: #281638;
}

.operator {
  background-color: #87b37a;
}

.operator:hover {
  background-color: #516b49;
}

.equal {
  background-color: #f1a45b;
}

.equal:hover {
  background-color: #9b6a3c;
}

.delete-Btn {
  background-color: rgb(209, 77, 77);
  color: white;
}

.delete-Btn:hover {
  background-color: rgb(122, 42, 42);
}

.decimal-point:hover {
  background-color: rgb(158, 152, 152);
}

.power-Btn {
  background-color: #048ba8;
  color: white;
}

.power-Btn:hover {
  background-color: #005366;
}
